.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color:Blue;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 70%;
    padding: 10px;
    background-color: #7FFFD4;
    color: #FF80AA;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

.delete {
    color: red;
    cursor: pointer;
}
